@page
@model IndexModel
@{
    ViewData["Title"] = "Product Categories List";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Product Categories List</h3>

    <a class="btn btn-primary" asp-page="./Create">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductCategories[0].Id)</th>
            <th>@Html.DisplayNameFor(model => model.ProductCategories[0].Name)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productCategory in Model.ProductCategories)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => productCategory.Id)</td>
                <td>@Html.DisplayFor(modelItem => productCategory.Name)</td>
                <td>
                    <a class="btn btn-dark" asp-page="./Details" asp-route-id="@productCategory.Id">Details</a>
                    <a class="btn btn-secondary" asp-page="./Update" asp-route-id="@productCategory.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>